<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Our Website</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        {%include 'navbar.html'%}
        <h1>This is our official Website</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus voluptatibus, delectus molestiae sed similique dolorum at, esse quibusdam soluta est minus excepturi et voluptatem consequuntur tenetur exercitationem deserunt totam quidem voluptas, hic maiores? Optio ipsa provident asperiores eveniet distinctio ea eligendi dignissimos ad quaerat qui? Facere voluptates delectus suscipit atque?</p>
        <button>Contact Us</button>
    </div>
</body>
</html>